.resume {
  font-family: monospace;
  margin-left: 15%;
  margin-right: 150px;
  width: 70%;  
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  text-align: left;
}

.button {
  background-color: var(--cg-grey);
  border: none;
  color: var(--cg-white);
  font-family: monospace;
  padding: 3px 5px;
  font-size: 12px; 
  text-align: center;
  border-radius: 3px; 
  display: block;
  margin: 10px auto;
  text-decoration: underline;
  width: 125px;
}

.button:hover {
  background-color: var(--cg-darkgrey);
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.entry {
  margin-top: -15px;
  margin-bottom: 20px;
}

.entry-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
}

.entry-info {
  font-size: 1rem;
  margin-bottom: 5px;
}

.entry-description {
  font-size: 1rem;
  margin-top: 5px;
}

.entry-bullets {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1rem;
}


.entry-info,
.entry-description,
.entry-bullets {
  margin-top: -5px;
  font-size: 14px; 
}


.entry-title {
  margin-top: 20px;
}

.sub-info{
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.spacing{
  margin-bottom: 15px;
}