/* Main container for the portfolio */
.projectContainer {
  display: flex;
  flex-wrap: wrap;  /* Allow the items to wrap to the next row */
  justify-content: flex-start;  /* Align items to the left without extra space between them */
  margin: 0 30px 20px;  /* Optional margin around the container */
  gap: 10px;  /* Set a small gap between items (this is the easiest way to manage spacing) */
  max-width: 100%;
  font-family: monospace;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  background-color: var(--cg-white);
  width: 31.4%;  /* 3 items per row */
  height: 400px;  /* Fixed height for each project box */
  padding: 0 10px;
  margin: 0 10px 25px;  /* Reduced horizontal margin to bring items closer */
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  font-weight: lighter;
  overflow: hidden;
  border-radius: 8px;  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

/* Ensure the images fit their container */
.projectImage {
  object-fit: cover;
  width: 100%;
  height: 300px;  /* Adjust the height of the image */
  border-radius: 4px;  /* Rounded corners for the image */
}

.projectName {
  margin-top: 8px;
  font-weight: 600;
  font-size: 20px;
}

.projectDescription {
  margin-top: 8px;
  font-weight: 500;
}

.projectDetails a {
  color: var(--cg-black);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 8px;
}

.projectDetails a:hover {
  color: var(--cg-darkgrey);
  text-decoration: underline;
}

.projectLinkSoon {
  margin-top: 10px;
 font-weight: 600;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .projectDetails {
    width: 45%;  /* 2 items per row on medium screens */
  }
}

@media (max-width: 480px) {
  .projectDetails {
    width: 100%;  /* 1 item per row on small screens */
  }
}

.portfolioComments {
  margin-left: 15px;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #eeeeee;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 31%;
  text-align: left;
  font-size: 14px;
}

.comments {
  text-decoration: underline;   
  font-size: 16px;              
  margin-bottom: 10px;          
}